@model WebAffinitiesMVC.Models.LISTA

@{
    ViewBag.Title = "Criação de Lista de Validação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2 id="tables">Cadastro de Lista de Validação</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Create", "Listas", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Lista de Validação</legend>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.NOME, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome" } })
                                @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DESCRICAO, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextAreaFor(model => model.DESCRICAO, htmlAttributes: new { @class = "form-control", rows = "3", placeholder = "Descrição" })
                                @Html.ValidationMessageFor(model => model.DESCRICAO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_ARQUIVO, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.DropDownList("ID_ARQUIVO", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_ARQUIVO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Cancelar", "Index", "Listas", new { idArquivo = Model.ARQUIVO.ID }, new { @class = "btn btn-default" })
                                <button type="submit" class="btn btn-primary" value="Create">Cadastrar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Arquivo</h3>
                </div>
                <div class="panel-body">
                    É o tipo de operação a que a lista que esta sendo cadastrada pertence!
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Valores</h3>
                </div>
                <div class="panel-body">
                    Após o cadastro da lista você poderá atribuir valores a mesma!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        @Html.ActionLink("← Voltar", "Index", "Listas", new { idArquivo = Model.ARQUIVO.ID }, new { @class = "btn btn-primary" })
    </div>
</div>

