@model WebAffinitiesMVC.Models.ARQUIVO
@{
    ViewBag.Title = "Alteração de Arquivo";
}
<div class="container">
    <div class="page-header">
        <h2 id="tables">Alteração de Tipo de Arquivo</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Alterar", "Arquivo", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Tipo de Arquivo</legend>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.NOME, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome" } })
                                @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DESCRICAO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.DESCRICAO, htmlAttributes : new { @class = "form-control", rows = "3", placeholder = "Descrição" } )
                                @Html.ValidationMessageFor(model => model.DESCRICAO, "", new { @class = "text-danger" })
                                <span class="help-block">Digite a descrição do arquivo que esta sendo criado, a mesma será utilizada nos relatórios do sistema.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button class="btn btn-default btn-sm">Cancelar</button>
                                <button type="submit" class="btn btn-primary btn-sm" value="Alterar">Alterar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<div class="container">
    @Html.RouteLink("← Voltar", new { action = "Modificar", controller = "Arquivo" }, new { @class = "btn btn-primary btn-sm" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
