@model WebAffinitiesMVC.Models.LAYOUTDETALHE

@{
    ViewBag.Title = "Exclusão de Campo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2 id="tables">@String.Concat("Exclusão de Campo")</h2>
    </div>
</div>

<div class="container">
    <div class="col-lg-8">
        <h3>@String.Concat("Deseja excluir o campo ", Model.NOME, "?")</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID_LAYOUT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LAYOUT.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TAMANHO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TAMANHO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.INICIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.INICIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FIM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACEITAVEL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACEITAVEL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FIXO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIXO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OBRIGATORIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OBRIGATORIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_HIERARQUIA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HIERARQUIA.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_TIPO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIPO.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_LISTA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LISTA.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_VALIDACAO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VALIDACAO.NOME)
            </dd>

        </dl>
    </div>
    <div class="col-lg-4 col-lg-offset-0">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Atenção!</strong> <a class="alert-link">Após a exclusão do campo</a> o sistema atualizará as posições do layout.
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Cancelar", "Index", "LayoutDetalhes", new { idLayout = Model.ID_LAYOUT }, new { @class = "btn btn-default btn-xs" }) |
                <button type="submit" class="btn btn-primary btn-xs" value="Delete" data-toggle="tooltip" data-placement="right" title="">Excluir</button>
            </div>
        }
    </div>
</div>