@model WebAffinitiesMVC.Models.LAYOUTDETALHE

@{
    ViewBag.Title = @String.Concat("Alteração de campo - ", Model.NOME);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2 id="tables">@String.Concat("Alteração de campo - ", Model.NOME)</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Edit", "LayoutDetalhes", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <legend>@String.Concat("Alteração do campo - ", Model.NOME)</legend>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID) 
                        @Html.HiddenFor(model => model.ID_LAYOUT)
                        @Html.HiddenFor(model => model.INICIO)
                        @Html.HiddenFor(model => model.FIM)
                        <div class="form-group">
                            @Html.LabelFor(model => model.ORDEM, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownList("ORDEM", null, htmlAttributes : new { id = "ORDEM", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ORDEM, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NOME, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NOME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NOME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FIXO, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FIXO, new { htmlAttributes = new { @class = "form-control", @readonly = "readyonly" } })
                                @Html.ValidationMessageFor(model => model.FIXO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TAMANHO, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.TAMANHO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TAMANHO, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-9 col-md-offset-3">
                                <div class="checkbox">
                                    <label>
                                        @Html.EditorFor(model => model.OBRIGATORIO)
                                        @*@Html.LabelFor(model => model.OBRIGATORIO, htmlAttributes: new { @class = "col-md-3 control-label" })*@
                                        @Html.ValidationMessageFor(model => model.OBRIGATORIO, "", new { @class = "text-danger" }) Obrigatório?
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_TIPO, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownList("ID_TIPO", null, htmlAttributes: new { id = "ID_TIPO", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_TIPO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_LISTA, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownList("ID_LISTA", null, "- selecione -", htmlAttributes: new { id = "ID_LISTA", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_LISTA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_VALIDACAO, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownList("ID_VALIDACAO", null, "- selecione -", htmlAttributes: new { id = "ID_VALIDACAO", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_VALIDACAO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ACEITAVEL, htmlAttributes: new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ACEITAVEL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ACEITAVEL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                @Html.ActionLink("Cancelar", "Index", "LayoutDetalhes", new { idLayout = Model.ID_LAYOUT }, new { @class = "btn btn-default" })
                                <button type="submit" class="btn btn-primary" value="Create">Alterar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lista</h3>
                    </div>
                    <div class="panel-body">
                        É a lista de valores que será utilizada na validação do registro no arquivo.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hierarquia</h3>
                    </div>
                    <div class="panel-body">
                        É a hierarquia a que a linha do arquivo pertence.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tipo</h3>
                    </div>
                    <div class="panel-body">
                        É o tipo do campo no registro do arquivo.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Validação</h3>
                    </div>
                    <div class="panel-body">
                        É a validação que será aplicada no campo do registro em questão.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            @Html.ActionLink("← Voltar", "Index", "LayoutDetalhes", new { idLayout = Model.ID_LAYOUT }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>