@model WebAffinitiesMVC.Models.LISTADETALHE

@{
    ViewBag.Title = String.Concat("Valor da lista ", Model.LISTA.NOME);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2 id="tables">@String.Concat("Valor da lista ", Model.LISTA.NOME)</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Create", "ListaDetalhes", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>@String.Concat("Novo valor da lista ", Model.LISTA.NOME)</legend>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.VALOR, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VALOR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VALOR, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_LISTA, htmlAttributes: new { @class = "col-lg-2 control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("ID_LISTA", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_LISTA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Cancelar", "Index", "ListaDetalhes", new { idLista = Model.LISTA.ID }, new { @class = "btn btn-default" })
                                <button type="submit" class="btn btn-primary" value="Create">Cadastrar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Valores</h3>
                </div>
                <div class="panel-body">
                    Após cadastrar o valor você será direcionado para lista de todos valores já cadastrados possibilitando a inclusão de mais valores.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        @Html.ActionLink("← Voltar", "Index", "ListaDetalhes", new { idLista = Model.LISTA.ID }, new { @class = "btn btn-primary" })
    </div>
</div>
