@model WebAffinitiesMVC.Models.LISTADETALHE

@{
    ViewBag.Title = String.Concat("Alteração de Valor - ", Model.LISTA.NOME);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2 id="tables">Alteração de valor de lista de validação</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Edit", "ListaDetalhes", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Lista de Validação</legend>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.VALOR, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VALOR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VALOR, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_LISTA, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("ID_LISTA", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_LISTA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Cancelar", "Index", "ListaDetalhes", new { idLista = Model.LISTA.ID }, new { @class = "btn btn-default" })
                                <button type="submit" class="btn btn-primary" value="Edit">Alterar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        @Html.ActionLink("← Voltar", "Index", "ListaDetalhes", new { idLista = Model.LISTA.ID }, new { @class = "btn btn-primary" })
    </div>
</div>