@model WebAffinitiesMVC.ViewModels.FileLayout

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Layouts.FirstOrDefault().ID_ARQUIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Layouts.FirstOrDefault().NOME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Layouts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ARQUIVO.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
