@model WebAffinitiesMVC.Models.LAYOUT

@{
    ViewBag.Title = String.Concat("Exclusão de Layout");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2 id="tables">@String.Concat("Exclusão de Layout")</h2>
    </div>
</div>
<div class="container">
    <div class="col-md-8">
        <h3>@String.Concat("Deseja excluir o layout ", Model.NOME, "?")</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRICAO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRICAO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_ARQUIVO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ARQUIVO.NOME)
            </dd>

        </dl>
    </div>
    <div class="col-md-4 col-md-offset-0">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Atenção!</strong> <a class="alert-link">A exclusão do layout</a> excluirá também todos os arquivos que utilizam o mesmo.
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Arquivos que utilizam esse layout")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ARQUIVODETALHE)
                {
                    <tr class="active">
                        <td>
                            @Html.DisplayFor(modelItem => item.NOME)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="col-md-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="bs-component">
                @Html.ActionLink("Cancelar", "Index", "Layouts", new { idArquivo = Model.ID_ARQUIVO }, new { @class = "btn btn-default btn-sm" }) |
                <button type="submit" class="btn btn-primary btn-sm" value="Delete" data-toggle="tooltip" data-placement="right" title="" data-original-title="Todos os valores da lista serão excluídos">Excluir</button>
            </div>
        }
    </div>
</div>
